*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(170, 170, 243);
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .search-input{
        position: relative;
        background-color: white;
        width: 25%;
        box-shadow: 0px 1px 5px 3px rgba($color: #000000, $alpha: 0.12);

        input{
            height: $bar-size;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 0 15px 0 20px;
            font-size: 1.5vw;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

        };

        .icon{
            color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            height: $bar-size;
            width: 25px;
            line-height: $line-altura;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            &:active{
                background-color: rgba(0, 0, 0, 1);
                color:white;
            }
            
        };

/*         .active {
            .autocom-box{
                padding: 10px 8px;
                
                li {
                    display: block;
                }
            }

        } */

        .autocom-box{
            padding: 0px;
            max-height: 280px;
            overflow-y: auto;
            opacity: 1;
        }
        
    };

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}

.autocom-box{
    position: absolute;
    background-color: white;
    justify-content: center;
    width: 100%;

    li{
        list-style: none;
        padding: 8px 12px;
        width: 100%;
        cursor: default;
        border-radius: 3px;

        .inactive{
            display: none;
        }
        
        font-size: 80%;
        &:hover{
            background-color: #c6c6c66f;
        }
    }
}

/* .DontShowSuggBar{
    border-radius: 5px;
}

.showSuggBar {
    border-radius: 5px 5px 0px 0px;
} */