* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(170, 170, 243);
}

.wraper {
  display: flex;
  justify-content: center;
}

.search-input {
  position: relative;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.autocom-box {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 5px 5px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 0px;
  margin: 0px;
  max-height: 130px;
  position: absolute;
  overflow-y: auto;
}

input {
  width: 95%;
  padding: 0px 0px 0px 5%;
  margin: 0;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.icon {
  position: absolute;
  line-height: 25px;
  height: 25px;
  top: 0;
  right: 0;
  padding: 0px 5px;
  border-radius: 5px;
}
.icon:active {
  background-color: black;
  color: white;
}

li {
  list-style: none;
  padding: 5px 0px 0px 5px;
  border-radius: 5px;
}
li:hover {
  background-color: aquamarine;
}

.active {
  border-radius: 5px 5px 0px 0px;
}

/* .wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .search-input{
        position: relative;
        background-color: transparent
        width: 25%;
        box-shadow: 0px 1px 5px 3px rgba($color: #000000, $alpha: 0.12);

        input{
            height: $bar-size;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 0 15px 0 20px;
            font-size: 1.5vw;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

        };

        .icon{
            color: rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            height: $bar-size;
            width: 25px;
            line-height: $line-altura;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            &:active{
                background-color: rgba(0, 0, 0, 1);
                color:white;
            }

        };

        .autocom-box{
            padding: 0px;
            max-height: 280px;
            overflow-y: auto;
            opacity: 1;
        }

    };

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}

.autocom-box{
    position: absolute;
    background-color: white;
    justify-content: center;
    width: 100%;

    li{
        list-style: none;
        padding: 8px 12px;
        width: 100%;
        cursor: default;
        border-radius: 3px;

        .inactive{
            display: none;
        }

        font-size: 80%;
        &:hover{
            background-color: #c6c6c66f;
        }
    }
} */
/* .DontShowSuggBar{
    border-radius: 5px;
}

.showSuggBar {
    border-radius: 5px 5px 0px 0px;
} */
.wraper-pokedex {
  display: grid;
  width: 50%;
  max-width: 200px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  background-color: azure;
  border-radius: 0 0 10px 10px;
}
.wraper-pokedex .numero {
  grid-column: 1/3;
}
.wraper-pokedex > * {
  padding: 5px;
}

.wraper-img {
  text-align: center;
  margin: 10px 0 0 0;
  max-width: 200px;
  width: 50%;
  height: 110px;
  background-color: azure;
  border-radius: 10px 10px 0 0;
}
.wraper-img img {
  width: 100px;
  height: 100px;
  background-color: rgb(87, 87, 119);
  border-radius: 50%;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */